/*body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

h1 {
  font-size:3em;
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}*/

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;

  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}

.tradingSimplifiedGreen {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	table-layout: auto !important;
  width: unset !important;
  max-width: 100%;
}

.tradingSimplifiedGreen td, .tradingSimplifiedGreen th {
	border: 1px solid #ddd;
	padding: 8px;
}

.tradingSimplifiedBabyBlue table {
  border-collapse: collapse; /* Ensures no spacing between table cells */
  display: block;
  /*width: 100%;  Optional: Makes the table span full width */
}

.tradingSimplifiedBabyBlue th, td {
  text-align: center; /* Horizontally centers text */
  vertical-align: middle; /* Vertically centers text */
  padding: 10px; /* Adds some spacing inside the cells */
  border: 1px solid #ddd; /* Adds a border for visibility  #3a3838*/
}

.tradingSimplifiedBabyBlue tr:nth-child(odd):not(thead tr) {background-color: #292f3d;}

.tradingSimplifiedBabyBlue tr:nth-child(even){background-color: #23272e;}

.tradingSimplifiedBabyBlue tr:hover {background-color: #ddd;}

.tradingSimplifiedBabyBlue thead {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #1c799e;
	color: white;
  }


.highlight-red-bold {
  color: red;
  font-weight: bold;
}

.highlight-red {
  color: red;
}

.highlight-green-bold {
  color: rgb(0, 255, 0);
  font-weight: bold;
}

.highlight-green {
  color: rgb(0, 255, 0);
}

.tag-win {
  /*display: inline-block;*/
  background-color: #25c017;
  color: white; /* White text */
  padding: 1px 10px; /* Padding for a card-like appearance */
  font-size: 15px; /* Adjust font size */
  font-weight: bold; /* Bold text */
  border-radius: 4px; /* Rounded corners for a tag effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  cursor: default; /* Change cursor to indicate it's not clickable */
}

.tag-loss {
  /*display: inline-block;*/
  background-color: #be1212; /* Red background */
  color: white; /* White text */
  padding: 1px 10px; /* Padding for a card-like appearance */
  font-size: 15px; /* Adjust font size */
  font-weight: bold; /* Bold text */
  border-radius: 4px; /* Rounded corners for a tag effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  cursor: default; /* Change cursor to indicate it's not clickable */
}

.tag-session-syd {
  /*display: inline-block;*/
  background-color: #5f0b0b; /* Red background */
  color: white; /* White text */
  padding: 1px 5px; /* Padding for a card-like appearance */
  font-size: 15px; /* Adjust font size */
  font-weight: bold; /* Bold text */
  border-radius: 4px; /* Rounded corners for a tag effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  cursor: default; /* Change cursor to indicate it's not clickable */
  /*margin-bottom: 5px;*/
}

.tag-session-asia {
  /*display: inline-block;*/
  background-color: #ad7013; /* Red background */
  color: white; /* White text */
  padding: 1px 5px; /* Padding for a card-like appearance */
  font-size: 15px; /* Adjust font size */
  font-weight: bold; /* Bold text */
  border-radius: 4px; /* Rounded corners for a tag effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  cursor: default; /* Change cursor to indicate it's not clickable */
  /*margin-bottom: 5px;*/
}

.tag-session-ldn {
  /*display: inline-block;*/
  background-color: #165e31; /* Red background */
  color: white; /* White text */
  padding: 1px 5px; /* Padding for a card-like appearance */
  font-size: 15px; /* Adjust font size */
  font-weight: bold; /* Bold text */
  border-radius: 4px; /* Rounded corners for a tag effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  cursor: default; /* Change cursor to indicate it's not clickable */
  /*margin-bottom: 5px;*/
}

.tag-session-ny {
  /*display: inline-block;*/
  background-color: #5f0b43; /* Red background */
  color: white; /* White text */
  padding: 1px 5px; /* Padding for a card-like appearance */
  font-size: 15px; /* Adjust font size */
  font-weight: bold; /* Bold text */
  border-radius: 4px; /* Rounded corners for a tag effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  cursor: default; /* Change cursor to indicate it's not clickable */
  /*margin-bottom: 5px;*/
}